useDynLib(xmsannotator, .registration = TRUE)

import(dplyr)
import(tibble)
import(tidyr)
import(purrr)
import(WGCNA)

export(save_parquet)
export(load_peak_table_hdf)
export(load_peak_table_parquet)
export(load_adduct_table_parquet)
export(load_compound_table_parquet)
export(load_expected_adducts_csv)
export(load_boost_compounds_csv)

export(simple_annotation)
export(advanced_annotation)
